@use "variables"; // Importing the variables file to use the defined variables in this stylesheet

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: variables.$primary-black;
  position: sticky;
  top: 0;
  opacity: 1;
}

.navbar {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

.nav--List {
  display: flex;
  list-style: none;
  gap: 10.7em;
  align-self: center;
  padding-top: 8px;
}

.navbar ul li a {
  text-decoration: none;
  color: variables.$primary-white;
  font-size: 13px;
  font-weight: 400;
}

.icon {
  fill: #6e6e73;
  transition: fill 0.3s ease;
  cursor: pointer;
  font-size: 10px;
}

.icon:hover {
  fill: rgb(221, 217, 217);
}

.icon2 {
  fill: #6e6e73;
  transition: color 0.3s ease;
  cursor: pointer;
}

.icon2:hover {
  color: rgb(177, 172, 172);
}

.navContainer {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mac-drop {
  position: relative;
}

.ipad-drop {
  position: relative;
}

.iphone-drop {
  position: relative;
}

.support-drop {
  position: relative;
}

.where-drop {
  position: relative;
}

.dropdown--mac {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100vw;
  background-color: variables.$primary-black;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--ipad {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100vw;
  background-color: variables.$primary-black;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--iphone {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100vw;
  background-color: variables.$primary-black;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--support{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  width: 100vw;
  background-color: variables.$primary-black;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--where {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  width:100vw;
  background-color: variables.$primary-black;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown-wrap {
  display: flex;
  gap: 4rem;
}

.mac-drop:hover .dropdown--mac {
  display: block;
}

.ipad-drop:hover .dropdown--ipad {
  display: block;
}

.iphone-drop:hover .dropdown--iphone {
  display: block;
}

.support-drop:hover .dropdown--support {
  display: block;
}

.where-drop:hover .dropdown--where {
  display: block;
}

.dropdown--ipad li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--mac li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--ipad li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--mac li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--iphone li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--iphone li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--support li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--support li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--where li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--where li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.explore {
  font-size: 9px;
}

#header-title {
  font-size: 56px;
  line-height: 60px;
  font-weight: 600;
  margin: 0.5em 1.78em;
}

@media screen and (max-width: 990px) {
  .navbar ul {
    gap: 3em;
  }
}

@media screen and (max-width: 768px) {
  .navbar ul {
    gap: 2em;
  }
}

@media screen and (max-width: 480px) {
  .navbar ul {
    gap: 1em;
  }
}

@media screen and (max-width: 360px) {
  .navbar ul {
    gap: 0.5em;
  }
}
