* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #000000;
  position: sticky;
  top: 0;
  opacity: 1;
}

.navbar {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

.nav--List {
  display: flex;
  list-style: none;
  gap: 10.7em;
  align-self: center;
  padding-top: 8px;
}

.navbar ul li a {
  text-decoration: none;
  color: #6e6e79;
  font-size: 13px;
  font-weight: 400;
}

.icon {
  fill: #6e6e73;
  transition: fill 0.3s ease;
  cursor: pointer;
  font-size: 10px;
}

.icon:hover {
  fill: rgb(221, 217, 217);
}

.icon2 {
  fill: #6e6e73;
  transition: color 0.3s ease;
  cursor: pointer;
}

.icon2:hover {
  color: rgb(177, 172, 172);
}

.navContainer {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mac-drop {
  position: relative;
}

.ipad-drop {
  position: relative;
}

.iphone-drop {
  position: relative;
}

.support-drop {
  position: relative;
}

.where-drop {
  position: relative;
}

.dropdown--mac {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100vw;
  background-color: #000000;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--ipad {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100vw;
  background-color: #000000;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--iphone {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100vw;
  background-color: #000000;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--support {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  width: 100vw;
  background-color: #000000;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown--where {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  width: 100vw;
  background-color: #000000;
  color: #6e6e73;
  padding: 2em;
  border-radius: 2px;
  pointer-events: auto;
}

.dropdown-wrap {
  display: flex;
  gap: 4rem;
}

.mac-drop:hover .dropdown--mac {
  display: block;
}

.ipad-drop:hover .dropdown--ipad {
  display: block;
}

.iphone-drop:hover .dropdown--iphone {
  display: block;
}

.support-drop:hover .dropdown--support {
  display: block;
}

.where-drop:hover .dropdown--where {
  display: block;
}

.dropdown--ipad li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--mac li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--ipad li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--mac li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--iphone li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--iphone li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--support li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--support li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.dropdown--where li a {
  color: #6e6e73;
  text-decoration: none;
}

.dropdown--where li:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.explore {
  font-size: 9px;
}

#header-title {
  font-size: 56px;
  line-height: 60px;
  font-weight: 600;
  margin: 0.5em 1.78em;
}

@media screen and (max-width: 990px) {
  .navbar ul {
    gap: 3em;
  }
}
@media screen and (max-width: 768px) {
  .navbar ul {
    gap: 2em;
  }
}
@media screen and (max-width: 480px) {
  .navbar ul {
    gap: 1em;
  }
}
@media screen and (max-width: 360px) {
  .navbar ul {
    gap: 0.5em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}/*# sourceMappingURL=styles.css.map */


.container{
  display: flex;
  gap: 70px;
  align-items: center;
  text-align: center;
  padding-left: 130px;
  padding-right: 50px;
}

p{
  color: #BF4800;
  font-weight:  bold;
  font-size: 14px;
}

 img{
    margin-bottom: 20px;
 }

 h3{
  margin-bottom: 10px;
 }

 h1{
  color: rgb(24, 23, 22);
  padding-bottom: 50px;
 }

 .hero-text{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .hero{
  padding: 6px;
  margin: 0%;
  color: #ffff;
  font-size: 58px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .iphone{
  background-image: url(image.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;

  

 }
 h2{
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
 }

 .btn{
  font-size: 21px;
  padding: 12px 22px;
  border-radius: 100px;
  background-color: #0071E3;
  color: #ffff;
  border: none;

 }